script(type='text/javascript', src='//lib.baomitu.com/fancybox/3.5.2/jquery.fancybox.min.js', async)
script(type='text/javascript', src=url_for(theme.js) + '/fancybox.js' + '?v=' + theme.version, async)
link(rel='stylesheet', type='text/css', href='//lib.baomitu.com/fancybox/3.5.2/jquery.fancybox.min.css')