.widget
  .widget-title
    h5 
      a( href="/tags" ) FEATURED TAGS
  .tags
    for tag in site.tags.toArray()
      if tag.length > theme.featuredsize
        a( href=config.root + tag.path title=tag.name rel= tag.length ) #{tag.name}
